* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(phone) {
    font-size: 43.75%; // 1rem = 7px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($whiteish, 0.6) 0%,
      rgba($whiteish, 0.9) 30%,
      rgba($whiteish, 0.9) 70%,
      rgba($whiteish, 0.6) 100%
    ),
    url(../img/head-746550_1200.jpg);
  background-size: cover;
  background-position: top;
  color: $blackish;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}

button {
  cursor: pointer;
}
