.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: $l-size;
    background: $dark-blue;
    font-size: $s-size;
    color: $whiteish;
    line-height: $l-size;
    text-align: center;
}