/* Header */

.header {
  background: $dark-blue;
  color: $whiteish;
  padding: $m-size 0;
  text-align: center;
}

.header__title {
  font-size: $xl-size;
  margin-bottom: $s-size;
}

.header__subtitle {
  font-size: calc(#{$m-size} * 1.5);
  font-weight: 400;
}
