/* Container */

.list-container {
  max-width: 70rem;
  margin: 0 auto $xl-size;
  padding: 0 $m-size;
}

/* List heading */

.list-title {
  margin: $l-size 0 $m-size;
}

.empty-message {
  margin: $l-size 0;
}

/* Todo List Item */

.list-item {
  position: relative;
  text-decoration: none;
  color: $whiteish;
  cursor: context-menu;
  background: $blackish;
  border: 1px solid #423e47;
  border-radius: 3px;
  margin: $m-size 0;
  padding: 1rem 1.6rem;
  display: block;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleY(0.9);
    border-radius: 3px;
    background: $light-blue;
    transition: all 0.5s;
    z-index: -1;
  }

  &:hover {
    color: $light-blue;
    box-shadow: 0 0 calc(#{s-size} / 2) $light-blue;
    text-shadow: 0 0 calc(#{s-size} / 2) $light-blue;

    & .list-item__number {
      border-right: 1px solid $light-blue;
    }
  }

  &:hover::before {
    transform: scaleY(1.1);
    box-shadow: 0 0 $m-size $light-blue;
  }

  &__container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 300;
    align-items: baseline;
  }

  &__number {
    padding-right: $s-size;
    margin-right: $s-size;
    border-right: 1px solid $whiteish;
  }
}
